<ul>
	{{#items}}
	<li >
		<a class="item-link item-content" href="{{link}}_newPage" >
          <div class="item-inner">
            <div class="item-title">{{title}}</div>
          </div>
     	</a>
    </li>
	{{/items}}
</ul>