
<h1>{{title}}</h1>
<span class="color-green">Rs. {{price}} <span class="size-12">({{^negotiable}}Fixed{{/negotiable}} {{#negotiable}}Negotiable{{/negotiable}})</span></span><br/>
{{category.name}}<br/>
{{#images}}
	<img src="{{url}}" style="max-width:100%" />
{{/images}}

<p>{{description}}</p><br/>
<br/>
{{#is_owner}}
	<span class="color-blue">You posted this advertisment on {{created_at}}</span>
{{/is_owner}}
