
<h1>{{title}}</h1>
<span class="color-green">Rs. {{price}} <span class="size-12">({{^negotiable}}Not Negotiable{{/negotiable}} {{#negotiable}}Negotiable{{/negotiable}})</span></span><br/>
{{#images}}
	<img src="{{url}}" style="max-width:100%" />
{{/images}}

<p>{{description}}</p><br/>
