<ul>
{{#advertisments}}
	<li >
		<a href="advertisment_details.html?id={{id}}&title={{title}}_newPage" class="item-link item-content">
	        <div class="item-inner">
	          <div class="item-title-row">
	            <div class="item-title">{{title}}</div>
	          </div>
	          <div class="item-text">{{description}}</div>
	        </div>
      	</a>
    </li>
{{/advertisments}}
</ul>