<ul>
{{#advertisments}}
<a href="advertisment_details.html?id={{id}}&title={{title}}_newPage" class="item-link item-content card">
<li>
      <div class="card-header">{{title}}</div>
      <div class="card-content">
        <div class="card-content-inner">
        	{{{description}}}
        	{{#images.0}}sdf<img src="{{url}}" width="100%">{{/images.0}}
        </div>
      </div>
    </li>
{{/advertisments}}
</ul>