
{{#advertisments}}
<a href="advertisment_details.html?id={{id}}&title={{title}}_newPage" class="item-link link">
	<div class="card demo-card-header-pic">
	  {{#images.0}}
	  
	  <div style="background-image:url({{images.0.url}})" valign="bottom" class="card-header color-white no-border">{{{title}}}</div>
	  {{/images.0}}

	  <div class="card-content">
	    <div class="card-content-inner">
		    {{^images.0}}
		  	<h3>{{title}}</h3>
		  {{/images.0}}
	      <p style="color:#333;">{{description}}</p>
	    </div>
	  </div>
	</div>
</a>
{{/advertisments}}
{{^advertisments}}
<div class="content-block-title">Sorry, no matching advertisments found for your query</div>
{{/advertisments}}