<ul>
{{#categories}}
	<li onClick="selectCategory({{leafID}})">

		<div class="item-content">
			<div class="item-inner">
	            <div class="item-title" style="white-space:unset;">
	                {{#tree}}
						<span class="hierarchy">{{name}} </span>
					{{/tree}}
	            </div>
	        </div>
        </div>

		
	</li>
{{/categories}}
{{^categories}}
	<li>
		<div class="item-content">
			<div class="item-inner">
	            <div class="item-title" style="white-space:unset;">
	                No match found
	            </div>
	        </div>
        </div>
	</li>
{{/categories}}
</ul>
