{{#news}}
	<div class="col-100 home_menu_item text-center news tile" style="position:relative;background-image:url({{image}});">
	<div class="overlay"></div>
		<div class="absolute-center text-white">
			<h2>{{title}}</h2>
		</div>
	</div>
{{/news}}
