<div style="margin-top:-20px;" class="content-block-title"><i class="icon f7-icons size-12">social_rss_fill</i> RSS NEWS FEEDS</div>
{{#news}}
	<div class="col-100 home_menu_item text-center news tile" style="position:relative;background-image:url({{image}});">
	<a href="readnews.html?link={{link}}&title={{& title}}_newPage">
		<div class="overlay"></div>
		<div class="absolute-center text-white">
			<h2 style="width:100vw;">{{{title}}}</h2>
		</div>
	</a>
	</div>

{{/news}}
