<div class="data-table card">
	<div class="card-header">Exchange Rates Fixed by Nepal Rastra Bank</div>
	
			
	<div class="content-block">
		<div class="row no-gutter">
	        <div class="col-40 text-title text-height-40 size-12">Currency</div>
	        <div class="col-20 text-center text-title text-height-40 size-12">Unit</div>
	        <div class="col-20 text-center text-title text-height-40 size-12">Buying</div>
	        <div class="col-20 text-center text-title text-height-40 size-12">Selling</div>
      	</div>
	{{#fixedRate}}
		<div class="row no-gutter">
	        <div class="col-40 text-height-40 size-12">{{0}}</div>
	        <div class="col-20 text-center text-height-40 size-12">{{1}}</div>
	        <div class="col-20 text-center text-height-40 size-12">{{2}}</div>
	        <div class="col-20 text-center text-height-40 size-12">{{3}}</div>
      	</div>
  	{{/fixedRate}}
  	</div>
			
		
</div>
<div class="data-table card">
<div class="card-header">Open Market Exchange Rates</div>
	<div class="content-block">
		<div class="row no-gutter">
	        <div class="col-40 text-title text-height-40 size-12">Currency</div>
	        <div class="col-20 text-center text-title text-height-40 size-12">Unit</div>
	        <div class="col-20 text-center text-title text-height-40 size-12">Buying</div>
	        <div class="col-20 text-center text-title text-height-40 size-12">Selling</div>
      	</div>
	{{#openMarketRate}}
		<div class="row no-gutter">
	        <div class="col-40 text-height-40 size-12">{{0}}</div>
	        <div class="col-20 text-center text-height-40 size-12">{{1}}</div>
	        <div class="col-20 text-center text-height-40 size-12">{{2}}</div>
	        <div class="col-20 text-center text-height-40 size-12">{{3}}</div>
      	</div>
  	{{/openMarketRate}}
  	</div>
	
</div>