<div class="row no-gutter">
	<div class="col-50 home_menu_item text-center weather tile" style="position:relative;background-color:{{bgColor}};">
		<div class="absolute-center">
		<a href="{{link}}" style="padding:15px 0 15px 0;color:#fff;">
			<i class="icon f7-icons">{{icon}}</i><br/>
			{{name}}
		</a>
		</div>
	</div>
	<div class="col-50 home_menu_item text-center date_time tile" style="position:relative;background-color:{{bgColor}};">
		<div class="absolute-center">
		<a href="{{link}}" style="padding:15px 0 15px 0;color:#fff;">
			<i class="icon f7-icons">{{icon}}</i><br/>
			{{name}}
		</a>
		</div>
	</div>
	<div class="col-50 home_menu_item text-center news tile" style="position:relative;background-color:{{bgColor}};">
		<div class="absolute-center">
		<a href="{{link}}" style="padding:15px 0 15px 0;color:#fff;">
			<i class="icon f7-icons">{{icon}}</i><br/>
			{{name}}
		</a>
		</div>
	</div>
    {{#items}}
    	{{#showInHome}}
			<div class="col-50 home_menu_item text-center" style="position:relative;background-color:{{bgColor}}">
				<div class="absolute-center">
				<a href="{{link}}" style="padding:15px 0 15px 0;color:#fff;">
					<i class="icon f7-icons">{{icon}}</i><br/>
					{{name}}
				</a>
				</div>
			</div>
		{{/showInHome}}
	{{/items}}
</div> 