<div class="navbar row landing_page_title_bar">
	              	<a href="oneapp://toggleMenu"><img src="/icons/menu.png" class="menu_icon" /></a>
	              	<div id="user_info" style="margin-top:5px">
	              	</div>


	              	<form action="advertisments.html_newPage" class="searchbar theme-bg">
		        <div class="searchbar-input">
		            <input name="query" type="search" placeholder="Search advertisments">
		        </div>
		        <!--button style="border:none;background-color: rgba(0,0,0,0)" class="size-15 color-white">Search</button-->
		    </form>
		    <div class="searchbar-overlay"></div>

              </div>
              
              <div  class="page-content landing_page_bg">
              <div id="content">
              	<div class="list-block">
              		<div style="height: 30px;"></div>
				  <ul>
				    <li><a href="advertisments.html?category=42_newPage" class="icon list-button item-link "><i class="f7-icons">briefcase</i> FIND JOBS & VACANCY</a></li>
				    <li><a href="advertisments.html?category=26_newPage" class="list-button item-link ">
				    	<i class="icon f7-icons">home</i> FIND REAL ESTATE</a></li>
				    <li><a href="advertisments.html_newPage" class="list-button item-link ">
				    	<i class="icon f7-icons">more</i> SEE ALL</a></li>
				    <li>
		              <a href="post_advertisment.html_newPage" class="list-button item-link button-fill color-pink"> <i class="icon f7-icons">add_round</i> POST ADVERTISMENT (FREE)</a>
				    </li>
				  </ul>
				</div>

              <div class="row no-gutter" id="dashboard_news"></div>

              		

              </div>
            </div>