
<div class="absolute-center text-center">
	<img src="/images/no_connection.png" style="opacity: 0.3;" /><br/>
	You can continue after you are logged in.
	<br>
	<br>
	<a href="javascript:command('facebookLogin')"> Login with facebook</a>
</div>
