
<div class="absolute-center text-center">
	<i class="icon f7-icons" style="font-size:50px;">lock</i><br/><br/>
	Please login to continue.
	<br>
	<br>
	<a href="javascript:command('facebookLogin')">Login with facebook</a>
</div>
