{{#items}}
	<a href="readnews.html?link={{& link}}&title={{& title}}_newPage" class="link item-link">
	<div class="card demo-card-header-pic">
	  <div style="background-image:url({{image}})" valign="bottom" class="card-header color-white no-border">{{title}}</div>
	  <div class="card-content">
	    <div class="card-content-inner">
	      <p class="color-gray">{{categories}} | {{author}}</p>
	      <p style="color:#333;">{{description}}</p>
	    </div>
	  </div>
	</div>
	</a>
{{/items}}
