<ul>
	{{#stations}}
	<li >
		<a class="item-content" onClick="command('playStream',{url:'{{stream}}',name:'{{name}}'})" >
          <div class="item-inner">
            <div class="item-title">{{name}}</div>
          </div>
     	</a>
    </li>
	{{/stations}}
</ul>