<ul>
	{{#stations}}
	<li >
		<a class="item-link item-content" href="{{stream}}" >
          <div class="item-inner">
            <div class="item-title">{{name}}</div>
          </div>
     	</a>
    </li>
	{{/stations}}
</ul>