
	{{#logged}}
	<a href="profile.html_newPage" >
		<div class="text-white"  style="line-height:32px;vertical-align: middle;float:left; margin-right:5px;">{{name}}
		</div>
		<img style="border-radius:16px;" src="{{picture}}" width="32" />
	{{/logged}}
	{{^logged}}	
	   		<a href="oneapp://facebookLogin" class="text-white">Login with facebook</a>
	{{/logged}}
				
			